echo node_modules > .dockerignore
echo npm-debug.log >> .dockerignore
echo build >> .dockerignore
echo .git >> .dockerignore
echo *.md >> .dockerignore
echo .gitignore >> .dockerignore
echo .env >> .dockerignore
echo .vscode >> .dockerignore
echo .idea >> .dockerignore
echo coverage >> .dockerignore
echo .DS_Store >> .dockerignore
echo *.log >> .dockerignore